html,
body {
  height: 100%;
  margin: 0;
  background-color: #1e2128;
  font-family: 'Lexend Deca', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e5e2e2;
  font-weight: 600;
  font-size: medium;
}

.lex-center {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.breathe {
  opacity: 0;
  animation: breathe-animation 2s infinite both, fade-animation 1s forwards;
  animation-delay: 5s, 4s;
  animation-timing-function: ease-in-out;
}

@keyframes breathe-animation {
  0% {
    color: #e5e2e2;
  }
  
  50% {
    color: #e5e2e26f;
  }

  100% {
    color: #e5e2e2;
  }
}

@keyframes fade-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }      
}